@import "tailwindcss";

@keyframes marqueeRight {
    0%   { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
    }

    @keyframes marqueeLeft {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
    }

    @layer utilities {
    .animate-marquee-right {
        animation: marqueeRight 20s linear infinite;
    }
    .animate-marquee-left {
        animation: marqueeLeft 20s linear infinite;
    }
    }